version: '3.8'

services:
  backend:
    build: ./backend
    container_name: wifi-sentinel-backend
    # IMPORTANTE: Usamos 'host' para que el escáner vea la red real
    network_mode: "host"
    restart: unless-stopped
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: wifi-sentinel-frontend
    # Usamos host también para facilitar la comunicación con el backend en localhost:8080
    network_mode: "host"
    restart: unless-stopped
    depends_on:
      - backend
